.form{
	border: 1px solid black;
	border-radius: 10px;
	padding: 20px 20px 20px 20px;
	width: 500px;
	margin-left: 280px;
	margin-top: 30px; 
	background-color: white;
}
.nav-pills{
	padding: 20px 20px 0px 20px;
	margin-left: 280px;
	margin-top: 30px;
}
body{
	
}